body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
.app-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(241, 30, 150),
    rgb(250, 250, 250)
  );
}

.title {
  font-size: 3rem;
  color: rgb(137, 232, 5);
  text-shadow: 3px 5px 2px rgb(241, 11, 11);
  padding: 0;
  margin: 0 auto;
}
.sub-title {
  margin: 0 auto;
  font-size: 2rem;
  color: rgb(140, 207, 23);
  text-shadow: 5px 5px 2px rgb(215, 201, 244);
  padding-bottom: 20px;

  border-bottom: 2px solid rgb(209, 120, 120);
  margin-bottom: 20px;
}
.app-display-container {
  display: flex;
  justify-content: center;
  /* gap: 50px; */
  gap: 200px;
}
.avatar-gr {
  width: 300px;
  height: 400px;

  border-radius: 30px;
  border: 10px solid rgb(16, 5, 232);
  background-color: white;
  padding: 15px;
  position: sticky;

  /* top: calc(50vh-400px); */
  top: 250px;
}

.app-avatar-gr {
  width: 100%;
  height: 80%;

  position: relative;
}
.app-avatar-gr img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}
.randomize {
  text-align: center;
}
.randomize button {
  padding: 15px 15px;
  background-color: brown;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  color: #ead8d8;
  cursor: pointer;
  text-transform: uppercase;
}

.avata-list-section {
  max-width: 700px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avata-list-section h2 {
  color: #d90a0a;
  font-size: 1.5rem;
}
.list-container {
  background-color: white;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 20px;
  padding: 10px;
  border: 5px solid blue;
}
.item-square {
  background-color: rgb(114, 85, 82);

  width: 68px;
  height: 68px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.151);

  cursor: pointer;
}
.item-square img {
  position: absolute;
  left: 3%;
  top: -2px;
  height: 60px;
  width: auto;
}
.selected {
  /* background-color: rgb(224, 252, 132); */
  border: 5px solid #ffe205;
  animation: 500ms linear 0.1s infinite alternate animating;
}
@keyframes animating {
  from {
    /* background-color: rgb(248, 208, 176); */
    border-color: #676666;
  }
  to {
    background-color: rgb(7, 252, 76);
    border-color: rgb(210, 246, 6);
  }
}
@media (max-width: 1200px) {
  .app-display-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
  }
  .avatar-gr {
    position: unset;
  }
}
